__pycache__/
*.pyc
*.pyo
.venv
venv/
*.tsv
*.csv
*.txt
results/
outputs/
test_output/
temp/
*.gbk
*.gbff
*.fasta
*.faa
*.fna
.vscode/
.idea/
*.swp
*~
*.log
*.md
*.tiff
references/
visuals/
*.pdf
*.zip
*.db
*.pdb
*.pin
*.pjs
*.pot
*.phr
*.psq
*.ptf
*.pto
ncbi_dataset/
.vscode
